<h1>Upcoming Events</h1>
<hr>
<div class="row d-flex justify-content-center">
    {{#each event}}
    <div class="card col-12 col-md-5 my-3 mx-3 p-2">
        <img src="http://placekitten.com/500/360" class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title  mt-2 mb-3 text-center">{{event_name}}</h2>
            <h5 class="text-center">{{date}}</h5>
            <p class="text-center">{{location}}</p>
            <div class="d-grid gap-2 mt-3 mb-1">
                <a class="btn btn-dark" href="/eventbyid/{{id}}">Event Details</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>