:root {
    --mainGreen: #3a5a40;
}

.custom-nav {
    background-color: var(--mainGreen)
}

/* overload autocomplete bg so its not transparent */
.ui-autocomplete {
    background: white;
    z-index: 2;
}

.hover-show {
    display: none;
}

.hover-target:hover .hover-show{
    display: block;
}

#upload_widget {
    background-color: black;
    margin-top: 5px;
}

@media screen and (max-width: 992px) {
    #custom-navbar {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #custom-navlinks {
        flex-direction: row;
    }
    #custom-navlinks li {
        margin: 10px;
    }
    #custom-search {
        justify-content: center !important;
    }
    #cust-upcoming h1 {
        text-align: center;
        font-size: xx-large !important;
    }
    #profile-btns {
        flex-direction: column;
    }
    #cust-detail {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #cust-img {
        justify-content: center !important;
        margin-bottom: 10px;
    }
}